*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather', serif;
  color: black;
  background-color: rgb(16, 154, 89);
}

form {
  max-width: 400px;
  margin: 10px auto;
  padding: 10px 20px;
  background: rgb(195, 80, 83);
  border-radius: 6px;
  box-shadow: 0 0 1.5em black;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 20px;
  padding: 30px;
  color: white;
  width: 100%;
  background-color: black;
  border-radius: 5px;
}

h2, p {
  text-align: center;
}

a {
   text-decoration: none;
   color: blue;
}

select {
   background: white;
   border: none;
   font-size: 16px;
   height: auto;
   margin: 0;
   outline: 0;
   padding: 15px;
   background-color: white;
   color: #000;
   margin-bottom: 30px;
   box-shadow: 0 0 1em black;
   padding: 6px;
   height: 32px;
   border-radius: 2px;
}

input[type="radio"],
input[type="checkbox"] {
   background-color: rgb(172, 148, 0);
   margin: 0 4px 8px 0;
}


button:hover {
   color: white;
   border: 1px solid black;
   background-color: rgb(73, 154, 153);
   border: 1px solid rgb(73, 154, 153);
}

button {
  padding: 19px 39px 18px 39px;
  color: #fff;
  background-color: black;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #000;
  box-shadow: 0 0 1em black;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 130px;
  background: rgb(73, 154, 153);
  border: none;
  font-size: 16px;
  margin: 0;
  outline: 0;
  background-color: rgb(73, 154, 153);
  color: black;
  margin-bottom: 30px;
  box-shadow: 0 0 1em black;
  text-align: left;
}

input:focus {
  background-color: rgb(73, 154, 153);
  border: 3px solid black;
  border-radius: 5px;
  color: black;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
  font-weight: bolder;
}

label {
  display: block;
  margin-bottom: 8px;
}

label.light {
  font-weight: 300;
  display: inline;
}

input[placeholder]{
    text-align: right;
    font-style: italic;
}

footer {
  text-align: center;
}

/*CLass selectors*/
.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgb(73, 154, 153);
  border-radius: 100%;
}

.style2 {
  height: 2px;
  background-color: black;
  width: 100%;
}

.style1 {
  height: 4px;
  background-color: black;
  width: 95%;
}

.style3 {
  height: 2px;
  background-color: black;
  width: 95%;
  margin-bottom: 15px;
}

.textfield {
  width: 100%;
  height: 45px;
  border-radius: 5px;
}

.zipcode {
  width: 60%;
  height: 45px;
  border-radius: 5px;
  margin-bottom: 30px;
}

.textarea-label {
  margin-top: 20px;
}


/*Media query for screens 768px and above*/
@media screen and (min-width: 768px) {

  form {
    max-width: 680px;
  }

  select {
    margin: 0;
  }

/*CLass selectors*/
  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
  }

  .container > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .textfield {
    float: right;
    clear: both;
    width: 75%;
  }

  .zipcode {
    width: 35%;
    margin-right: 245px;
  }

  .style1 {
    height: 7px;
  }

  .style3 {
   height: 4px;
  }

  .labels {
    width: 80px;
    float: left;
  }

  .inputs {
    width: 50%;
    float: left;
  }
} /*END OF media query*/
